.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../../Images/nikebanner.jpg");
  height: 45vh;
  background-size: cover;
  background-position: center;
  margin-top: 1rem;
}
.para > h3 {
  color: #263474;
}
